{% extends "_base.html" %}

{% block css %}
  <link href="{{ url_for('static', filename='stylesheets/home.css')}}" type="text/css" media="screen" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="headerWrap">
      <div class="container">
          <h1 class="headerText">Your Social Golf App</h1>
          <h2 class="subheadText"> Meet other passionate golfers nearby and enjoy a round of golf or hit a few buckets at the range.
      </div>
    </div>
<div class="body-content">
  <div class="row">
    <h1>Welcome!</h1>
  </div>
</div>

{% endblock %}
